/* BODY STYLING */
.backgroundimage {
  background-color: black;
  background-image: url('https://images.unsplash.com/photo-1610200676416-8a9b1c15ade4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1370&q=80');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  width:1280px;
  height:720px;
}

.bodybackground {
  background-color: black;
  border-style: solid;
  border-width: 100;
  border-color: gray;
  padding-right: 70%;
  width:max-content;
  height:max-content;
}

.bodytext {
  font-family: Helvetica;
  font-size: 16px;
  color: white;
  text-indent: 50px;
  width: max-content;
  height: max-content;
}

/* HEADER STYLING */
.header {
  box-shadow: 10px 10px 0px gray;
  width: max-content;
  height: max-content;
}

.headertext1 {
  font-family: Helvetica;
  font-size: 60px;
  text-transform: uppercase;
  color:white;
  background-color: black;
  width: max-content;
  height: max-content;
}

.headertext2 {
  font-family: Helvetica;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-indent: 50px;
  color:white;
  background-color: black;
  width: max-content;
  height: max-content;
}

/* TABLE STYLING*/

.table {
  border-width: 1px;
  border-style:dotted;
  border-color:lightgray;
}

.tablecategory {
  border-width: 1px;
  border-style: groove;
  border-color:lightgray;
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.tableentry {
  border-width: 1px;
  border-style: groove;
  border-color:lightgray;
  color: white;
  font-family: Helvetica;
  font-size: 12x;
  text-align: center;
}

/* LINK STYLING */

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}