main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    padding: 0 10vh;
    border-radius: 13px;
    background-color: rgb(85, 62, 33);
}

main section {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5vh;
    border: 1px dotted rgb(122, 122, 122);
}

.quizQuestion {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5vh 10vh;
    border-radius: 13px;
    background-color: rgb(85, 62, 33);
}

.quizChoice1,
.quizChoice2,
.quizChoice3,
.quizChoice4 {
    padding: 2vh 4vh;
    border: 1px solid rgb(122, 122, 122);
}

.quizChoice1:hover,
.quizChoice2:hover,
.quizChoice3:hover,
.quizChoice4:hover {
    transition: box-shadow, 0.5s;
    box-shadow: inset 1px 1px 3px rgb(133, 0, 0), 1px 1px 3px rgb(133, 0, 0);
}

#start {
    margin: 5vh;
}